<nav>
	<ul>
		<li><a href = "/buttons">Кнопки</a></li>
		<li><a href = "/messages">Сообщения</a></li>
		<li><a href = "/sending">Рассылки</a></li>
		<li  id = "logout"><a href = "/logout">Выйти</a></li>
	</ul>
</nav>