<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
	<form class = "login" method = "post">
		<h3 class = "login">Авторизуйтесь пожалуйста</h3>
		<p class = "login">Логин</p>
		<input class = "login" type = "text" name = "login"/>
		<br/>
		<p class = "login">Пароль</p>
		<input class = "login" type = "password" name = "password"/>
		<br/>
		<input class = "login" type = "submit" value = "Авторизоваться"/>
	</form>
</body>
</html>