<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
		<h1>Стартовая страница</h1>
		<form action = "/logout" method = "get">
			<input type = "submit" value = "Выйти" />
		</form>
</body>
</html>